
body {
    padding: 0;
    margin: 0;
}

#map { height: 980px; width: 100%; }

.user-info {
    position: fixed;
    top: 0;
    right: 0;
    background: #fff;
    padding: 2rem;
}

img {
    -webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
    float: left;
}

.my-div-icon p {
    background: white;
    width: 300px;
    overflow: visible;
}

.my-div-icon p img {
    border-radius: 4px; background: white; padding: 3px
}

.why {
    display: none;
}

.why {
    -webkit-transition: height 1.5s ease-in-out;
        -moz-transition: height 1.5s ease-in-out;
        -o-transition: height 1.5s ease-in-out;
        transition: height 1.5s ease-in-out;
}

.active .why {
    display: block;
    float: left;
    background: white;
}

.user-map-icon {
    background: #fff;
    border: 2px solid #000;
    border-radius: 5px;
    width: 350px;
    overflow: hidden;
}

.zoom-3 .attendee-icon .attendee {
    width: 40px;
}

.zoom-4 .attendee-icon .attendee {
    width: 45px;
}

.zoom-5 .attendee-icon .attendee {
    width: 60px;
}

.attendee-icon .attendee {
    background: #fff;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 5px;
    overflow: hidden;
    width: 30px;
}

.attendee-icon .attendee .picture img {
    width: 30px;
}

.user-map-icon textrea {
    pointer-events: none;
}

.user-map-icon .picture img{
    width: 30px;
}